*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body{
    background-color: aqua;
}

main{
    background-color: aliceblue;
    width: 750px;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}